.assignment {
  width: 82%!important;
  min-height: 800px;
}

.assignment-intro {
  float: left;
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
  color:#116df6;
}

.assignment-function {
  float: right;
}

.btn-s{
  margin-left: 5px;
}
.t-col-id{
  width: 5%;
}
.t-col-type, .t-col-status{
  width: 10%;
}


.t-col-func,.t-col-dd
{
  width: 15%;
}
.wrapcontent {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt{
  min-height: 80px !important;
}

.required{
  color: red;
}
.assign{
  margin-top: 30px;
}
.assign .table-responsive-sm
{
  padding-top: 40px;
}