.assignment {
  width: 82%!important;
  min-height: 800px;
}

.assignment-intro {
  float: left;
  text-align: left;
  margin-bottom: 15px;
}

.assignment-function {
  float: right;
}

.btn-s{
  margin-left: 5px;
}
.t-col-id{
  width: 5%;
}
.t-col-type .t-col-status{
  width: 10%;
}
.t-col-des{
  width: 40%;
  max-width: 200px;
}
.t-col-name{
  width: 25%;
}
.t-col-dd {
  width: 10%;
}
.t-col-func {
  width: 10%;
}

.wrapcontent {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt{
  min-height: 80px !important;
}

.required{
  color: red;
}