.course{
  width: 82%!important;
  min-height: 800px;
}

.course-function {
  float: right;
  padding-bottom: 15px;
}
.btn-s{
  margin-left: 5px;
}
.t-col-0{
  width: 5%;
}

.t-col-1{
  width: 10%;
}

.t-col-2{
  width: 20%;
}

.t-col-3{
  width: 30%;
}

.required{
  color: red;
}